@import './base.css';

#app {
  min-height: 100vh;
  font-weight: normal;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: inherit;
  cursor: pointer;
}
